<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<title>Login</title>

<link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto' type='text/css' />
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Exo' type='text/css' />
<link rel='stylesheet' href="https://fonts.googleapis.com/css?family=Lato:400,700" />
<link rel='stylesheet' th:href="@{/css/login.css}" />
</head>

<body id="loginBody">
	
				<form action="#"  th:method="post" id="formularz" class="form-signin">

				<div class="form-signin-heading">Link wygasł</div>
			
				<div class="message" th:utext="${message}"></div>
<!-- 
				<input id="password" type="text" class="form-control input-box"  placeholder=""  disabled="disabled"/> 
		
				<input id="passwordRepeated" type="text" class="form-control input-box" placeholder="" disabled="disabled"/> 
		
				<button class="btn btn-lg btn-default btn-block" disabled="disabled">Submit</button>
 -->

				<div class="authLabel"><a href="/login">Powrót do strony logowania</a></div>
				
		</form>
</body>
</html>





















